.square {
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #9c7272;
}

.link {
    text-decoration: none;

}

.header {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: 1000ms;
    transform: translate(-200px);
}

.header:hover {
    transition-duration: 1000ms;
    transform: translate(0);
}